.App {
  padding: 24px 32px;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);

  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  align-items: center;
}

.line {
  height: 2px;
  border-radius: 1px;
  background-color: gray;
  width: 50vw;
}

/* ----- NewTask section ----- */
.newTaskContainer {
  display: flex;
}