body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Rubik";
}

p {
  font-family: "Caveat";
  font-size: 24px;
  font-weight: 400;
}